<div class="container">

    <div class="col-md-12 jumbotron">
        <div class="text-center">
            <h1> Tech Articles </h1>
            Scraped from <a href="https://www.popularmechanics.com/technology/">Popular Mechanics - Technology</a>
        </div>
    </div>
    <div class="col-md-12">
        {{#if articles}}
        {{#each articles}}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2>{{this.title}}</h2>
            </div>
            <div class="panel-body">
                <h3>
                    {{sumary}}
                </h3>
                <h4><a href='https://www.popularmechanics.com/technology/{{link}}'>Read more...</a></h4>
                
                <button data-id={{_id}} class="btn btn-success pull-right save-article">Save Article</button>
            </div>
        </div>
        {{/each}}
        {{else}}
        <div class="panel panel-danger">
            <div class="panel-body">
                <h4>You have no saved articles.</h4>
            </div>
        </div>
        {{/if}}
    </div>
</div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/assets/js/app.js"></script>

  