<!--Saved Articles Page-->

<div class="container">

    <div class="col-md-12 jumbotron">
        <div class="text-center">
            <h2> Notes for: {{articles.title}}</h2>
        </div>
    </div>
    <div class="modal-body">
        <div class="modal-header">

            
        </div>
        {{#if articles.note}}
        {{#each articles.note}}
        <div class="panel panel-success">
            <div class="panel-body">
                <p class="previousNotes"> {{articles.note.body}}</p>
                <button type="button" class="btn btn-danger deleteNote" data-note-id={{this._id}}
                    data-article-id={{this.article}}>X</button>
            </div>
        </div>
        {{/each}}
        {{!-- {{else}}
        <div class="panel panel-success">
            <div class="panel-body">
                <h4>No notes for this article yet.</h4>
            </div>
        </div> --}}
        {{/if}}
        <div class="form-group">
            <textarea id="noteText{{this._id}}" class="form-control" rows="4" placeholder="New Note"
                required></textarea>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary saveNote" data-id={{articles._id}}>Save a Note</button>
    </div>


    {{!-- {{#if notes}} --}}
    {{!-- <div class="panel panel-info"> --}}
    {{!-- <div class="panel-heading">
                <h2>{{this.title}}</h2>
            </div> --}}

    {{!-- </div> --}}
    {{!-- {{/if}} --}}




</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/js/app.js"></script>